{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "auth": [
            "aws.auth#sigv4"
        ],
        "endpointPrefix": "datazone",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceFullName": "Amazon DataZone",
        "serviceId": "DataZone",
        "signatureVersion": "v4",
        "signingName": "datazone",
        "uid": "datazone-2018-05-10"
    },
    "operations": {
        "AcceptPredictions": {
            "name": "AcceptPredictions",
            "http": {
                "method": "PUT",
                "requestUri": "/v2/domains/{domainIdentifier}/assets/{identifier}/accept-predictions",
                "responseCode": 200
            },
            "input": {
                "shape": "AcceptPredictionsInput"
            },
            "output": {
                "shape": "AcceptPredictionsOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "AcceptSubscriptionRequest": {
            "name": "AcceptSubscriptionRequest",
            "http": {
                "method": "PUT",
                "requestUri": "/v2/domains/{domainIdentifier}/subscription-requests/{identifier}/accept",
                "responseCode": 200
            },
            "input": {
                "shape": "AcceptSubscriptionRequestInput"
            },
            "output": {
                "shape": "AcceptSubscriptionRequestOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "AddEntityOwner": {
            "name": "AddEntityOwner",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/entities/{entityType}/{entityIdentifier}/addOwner",
                "responseCode": 201
            },
            "input": {
                "shape": "AddEntityOwnerInput"
            },
            "output": {
                "shape": "AddEntityOwnerOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "AddPolicyGrant": {
            "name": "AddPolicyGrant",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/policies/managed/{entityType}/{entityIdentifier}/addGrant",
                "responseCode": 201
            },
            "input": {
                "shape": "AddPolicyGrantInput"
            },
            "output": {
                "shape": "AddPolicyGrantOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "AssociateEnvironmentRole": {
            "name": "AssociateEnvironmentRole",
            "http": {
                "method": "PUT",
                "requestUri": "/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/roles/{environmentRoleArn}",
                "responseCode": 200
            },
            "input": {
                "shape": "AssociateEnvironmentRoleInput"
            },
            "output": {
                "shape": "AssociateEnvironmentRoleOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "AssociateGovernedTerms": {
            "name": "AssociateGovernedTerms",
            "http": {
                "method": "PATCH",
                "requestUri": "/v2/domains/{domainIdentifier}/entities/{entityType}/{entityIdentifier}/associate-governed-terms",
                "responseCode": 200
            },
            "input": {
                "shape": "AssociateGovernedTermsInput"
            },
            "output": {
                "shape": "AssociateGovernedTermsOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "BatchDeleteLinkedTypes": {
            "name": "BatchDeleteLinkedTypes",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/linked-types",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchDeleteLinkedTypesInput"
            },
            "output": {
                "shape": "BatchDeleteLinkedTypesOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "BatchGetAttributes": {
            "name": "BatchGetAttributes",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/entities/{entityType}/{entityIdentifier}/attributes/batch-get",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchGetAttributesInput"
            },
            "output": {
                "shape": "BatchGetAttributesOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "internalonly": true,
            "readonly": true
        },
        "BatchGetAttributesMetadata": {
            "name": "BatchGetAttributesMetadata",
            "http": {
                "method": "GET",
                "requestUri": "/v2/domains/{domainIdentifier}/entities/{entityType}/{entityIdentifier}/attributes-metadata",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchGetAttributesMetadataInput"
            },
            "output": {
                "shape": "BatchGetAttributesMetadataOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "readonly": true
        },
        "BatchGetCell": {
            "name": "BatchGetCell",
            "http": {
                "method": "POST",
                "requestUri": "/domains/{domainId}/cells/batch-get",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchGetCellInput"
            },
            "output": {
                "shape": "BatchGetCellOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "internalonly": true,
            "readonly": true
        },
        "BatchGetCellRun": {
            "name": "BatchGetCellRun",
            "http": {
                "method": "POST",
                "requestUri": "/domains/{domainId}/cell-runs/batch-get",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchGetCellRunInput"
            },
            "output": {
                "shape": "BatchGetCellRunOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "internalonly": true,
            "readonly": true
        },
        "BatchGetCellRunResult": {
            "name": "BatchGetCellRunResult",
            "http": {
                "method": "POST",
                "requestUri": "/domains/{domainId}/cell-run-results/batch-get",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchGetCellRunResultInput"
            },
            "output": {
                "shape": "BatchGetCellRunResultOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "internalonly": true,
            "readonly": true
        },
        "BatchPutAttributes": {
            "name": "BatchPutAttributes",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/entities/{entityType}/{entityIdentifier}/attributes/batch-put",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchPutAttributesInput"
            },
            "output": {
                "shape": "BatchPutAttributesOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "BatchPutAttributesMetadata": {
            "name": "BatchPutAttributesMetadata",
            "http": {
                "method": "PUT",
                "requestUri": "/v2/domains/{domainIdentifier}/entities/{entityType}/{entityIdentifier}/attributes-metadata",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchPutAttributesMetadataInput"
            },
            "output": {
                "shape": "BatchPutAttributesMetadataOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "BatchPutLinkedTypes": {
            "name": "BatchPutLinkedTypes",
            "http": {
                "method": "PUT",
                "requestUri": "/v2/domains/{domainIdentifier}/linked-types",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchPutLinkedTypesInput"
            },
            "output": {
                "shape": "BatchPutLinkedTypesOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "CancelMetadataGenerationRun": {
            "name": "CancelMetadataGenerationRun",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/metadata-generation-runs/{identifier}/cancel",
                "responseCode": 200
            },
            "input": {
                "shape": "CancelMetadataGenerationRunInput"
            },
            "output": {
                "shape": "CancelMetadataGenerationRunOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "CancelSubscription": {
            "name": "CancelSubscription",
            "http": {
                "method": "PUT",
                "requestUri": "/v2/domains/{domainIdentifier}/subscriptions/{identifier}/cancel",
                "responseCode": 200
            },
            "input": {
                "shape": "CancelSubscriptionInput"
            },
            "output": {
                "shape": "CancelSubscriptionOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "CreateAccountPool": {
            "name": "CreateAccountPool",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/account-pools",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateAccountPoolInput"
            },
            "output": {
                "shape": "CreateAccountPoolOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "CreateAsset": {
            "name": "CreateAsset",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/assets",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateAssetInput"
            },
            "output": {
                "shape": "CreateAssetOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "CreateAssetFilter": {
            "name": "CreateAssetFilter",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/assets/{assetIdentifier}/filters",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateAssetFilterInput"
            },
            "output": {
                "shape": "CreateAssetFilterOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "CreateAssetRevision": {
            "name": "CreateAssetRevision",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/assets/{identifier}/revisions",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateAssetRevisionInput"
            },
            "output": {
                "shape": "CreateAssetRevisionOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "CreateAssetType": {
            "name": "CreateAssetType",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/asset-types",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateAssetTypeInput"
            },
            "output": {
                "shape": "CreateAssetTypeOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "CreateCell": {
            "name": "CreateCell",
            "http": {
                "method": "POST",
                "requestUri": "/domains/{domainId}/cells",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateCellInput"
            },
            "output": {
                "shape": "CreateCellOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "CreateCellRun": {
            "name": "CreateCellRun",
            "http": {
                "method": "POST",
                "requestUri": "/domains/{domainId}/cell-runs",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateCellRunInput"
            },
            "output": {
                "shape": "CreateCellRunOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "CreateCellRunResult": {
            "name": "CreateCellRunResult",
            "http": {
                "method": "POST",
                "requestUri": "/domains/{domainId}/cell-run-results",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateCellRunResultInput"
            },
            "output": {
                "shape": "CreateCellRunResultOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "CreateConnection": {
            "name": "CreateConnection",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/connections",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateConnectionInput"
            },
            "output": {
                "shape": "CreateConnectionOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "CreateCredential": {
            "name": "CreateCredential",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/credentials",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateCredentialInput"
            },
            "output": {
                "shape": "CreateCredentialOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "CreateDataProduct": {
            "name": "CreateDataProduct",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/data-products",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateDataProductInput"
            },
            "output": {
                "shape": "CreateDataProductOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "CreateDataProductRevision": {
            "name": "CreateDataProductRevision",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/data-products/{identifier}/revisions",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateDataProductRevisionInput"
            },
            "output": {
                "shape": "CreateDataProductRevisionOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "CreateDataSource": {
            "name": "CreateDataSource",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/data-sources",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateDataSourceInput"
            },
            "output": {
                "shape": "CreateDataSourceOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "CreateDesignation": {
            "name": "CreateDesignation",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/designations",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateDesignationInput"
            },
            "output": {
                "shape": "CreateDesignationOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "internalonly": true
        },
        "CreateDomain": {
            "name": "CreateDomain",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateDomainInput"
            },
            "output": {
                "shape": "CreateDomainOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "CreateDomainPolicy": {
            "name": "CreateDomainPolicy",
            "http": {
                "method": "POST",
                "requestUri": "/domain/{domainId}/policy",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateDomainPolicyInput"
            },
            "output": {
                "shape": "CreateDomainPolicyOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "CreateDomainUnit": {
            "name": "CreateDomainUnit",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/domain-units",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateDomainUnitInput"
            },
            "output": {
                "shape": "CreateDomainUnitOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "CreateDomainUnitPolicy": {
            "name": "CreateDomainUnitPolicy",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/domain-unit-policies",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateDomainUnitPolicyInput"
            },
            "output": {
                "shape": "CreateDomainUnitPolicyOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "CreateEnvironment": {
            "name": "CreateEnvironment",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/environments",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateEnvironmentInput"
            },
            "output": {
                "shape": "CreateEnvironmentOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "CreateEnvironmentAction": {
            "name": "CreateEnvironmentAction",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/actions",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateEnvironmentActionInput"
            },
            "output": {
                "shape": "CreateEnvironmentActionOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "CreateEnvironmentBlueprint": {
            "name": "CreateEnvironmentBlueprint",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/environment-blueprints",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateEnvironmentBlueprintInput"
            },
            "output": {
                "shape": "CreateEnvironmentBlueprintOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "CreateEnvironmentProfile": {
            "name": "CreateEnvironmentProfile",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/environment-profiles",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateEnvironmentProfileInput"
            },
            "output": {
                "shape": "CreateEnvironmentProfileOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "CreateFormType": {
            "name": "CreateFormType",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/form-types",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateFormTypeInput"
            },
            "output": {
                "shape": "CreateFormTypeOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "CreateGlossary": {
            "name": "CreateGlossary",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/glossaries",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateGlossaryInput"
            },
            "output": {
                "shape": "CreateGlossaryOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "CreateGlossaryTerm": {
            "name": "CreateGlossaryTerm",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/glossary-terms",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateGlossaryTermInput"
            },
            "output": {
                "shape": "CreateGlossaryTermOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "CreateGroupProfile": {
            "name": "CreateGroupProfile",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/group-profiles",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateGroupProfileInput"
            },
            "output": {
                "shape": "CreateGroupProfileOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "CreateListingChangeSet": {
            "name": "CreateListingChangeSet",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/listings/change-set",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateListingChangeSetInput"
            },
            "output": {
                "shape": "CreateListingChangeSetOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "CreateNotebook": {
            "name": "CreateNotebook",
            "http": {
                "method": "POST",
                "requestUri": "/domains/{domainId}/notebooks",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateNotebookInput"
            },
            "output": {
                "shape": "CreateNotebookOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "CreateNotebookWIP": {
            "name": "CreateNotebookWIP",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/notebooks-wip",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateNotebookWIPInput"
            },
            "output": {
                "shape": "CreateNotebookWIPOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "CreatePartnerIntegration": {
            "name": "CreatePartnerIntegration",
            "http": {
                "method": "POST",
                "requestUri": "/partnerintegrations",
                "responseCode": 201
            },
            "input": {
                "shape": "CreatePartnerIntegrationInput"
            },
            "output": {
                "shape": "CreatePartnerIntegrationOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "CreateProject": {
            "name": "CreateProject",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/projects",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateProjectInput"
            },
            "output": {
                "shape": "CreateProjectOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "CreateProjectMembership": {
            "name": "CreateProjectMembership",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/projects/{projectIdentifier}/createMembership",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateProjectMembershipInput"
            },
            "output": {
                "shape": "CreateProjectMembershipOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "CreateProjectMembershipRequest": {
            "name": "CreateProjectMembershipRequest",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/projects/{projectIdentifier}/createProjectMembershipRequest",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateProjectMembershipRequestInput"
            },
            "output": {
                "shape": "CreateProjectMembershipRequestOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "CreateProjectProfile": {
            "name": "CreateProjectProfile",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/project-profiles",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateProjectProfileInput"
            },
            "output": {
                "shape": "CreateProjectProfileOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "CreateRule": {
            "name": "CreateRule",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/rules",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateRuleInput"
            },
            "output": {
                "shape": "CreateRuleOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "CreateServiceLink": {
            "name": "CreateServiceLink",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/service-links",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateServiceLinkInput"
            },
            "output": {
                "shape": "CreateServiceLinkOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "CreateSubscriptionGrant": {
            "name": "CreateSubscriptionGrant",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/subscription-grants",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateSubscriptionGrantInput"
            },
            "output": {
                "shape": "CreateSubscriptionGrantOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "CreateSubscriptionRequest": {
            "name": "CreateSubscriptionRequest",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/subscription-requests",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateSubscriptionRequestInput"
            },
            "output": {
                "shape": "CreateSubscriptionRequestOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "CreateSubscriptionTarget": {
            "name": "CreateSubscriptionTarget",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateSubscriptionTargetInput"
            },
            "output": {
                "shape": "CreateSubscriptionTargetOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "CreateUserProfile": {
            "name": "CreateUserProfile",
            "http": {
                "method": "POST",
                "requestUri": "/v2/domains/{domainIdentifier}/user-profiles",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateUserProfileInput"
            },
            "output": {
                "shape": "CreateUserProfileOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "DeleteAccountPool": {
            "name": "DeleteAccountPool",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/account-pools/{identifier}",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteAccountPoolInput"
            },
            "output": {
                "shape": "DeleteAccountPoolOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "DeleteAsset": {
            "name": "DeleteAsset",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/assets/{identifier}",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteAssetInput"
            },
            "output": {
                "shape": "DeleteAssetOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "DeleteAssetFilter": {
            "name": "DeleteAssetFilter",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/assets/{assetIdentifier}/filters/{identifier}",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteAssetFilterInput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "DeleteAssetType": {
            "name": "DeleteAssetType",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/asset-types/{identifier}",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteAssetTypeInput"
            },
            "output": {
                "shape": "DeleteAssetTypeOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "DeleteCell": {
            "name": "DeleteCell",
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{domainId}/cells/{cellId}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteCellInput"
            },
            "output": {
                "shape": "DeleteCellOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "DeleteCellRun": {
            "name": "DeleteCellRun",
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{domainId}/cell-runs/{runId}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteCellRunInput"
            },
            "output": {
                "shape": "DeleteCellRunOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "DeleteConnection": {
            "name": "DeleteConnection",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/connections/{identifier}",
                "responseCode": 202
            },
            "input": {
                "shape": "DeleteConnectionInput"
            },
            "output": {
                "shape": "DeleteConnectionOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "DeleteCredential": {
            "name": "DeleteCredential",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/credentials/{identifier}",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteCredentialInput"
            },
            "output": {
                "shape": "DeleteCredentialOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "DeleteDataExportConfiguration": {
            "name": "DeleteDataExportConfiguration",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/data-export-configuration",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteDataExportConfigurationInput"
            },
            "output": {
                "shape": "DeleteDataExportConfigurationOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "DeleteDataProduct": {
            "name": "DeleteDataProduct",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/data-products/{identifier}",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteDataProductInput"
            },
            "output": {
                "shape": "DeleteDataProductOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "DeleteDataSource": {
            "name": "DeleteDataSource",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/data-sources/{identifier}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteDataSourceInput"
            },
            "output": {
                "shape": "DeleteDataSourceOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "DeleteDesignation": {
            "name": "DeleteDesignation",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/designations/{identifier}",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteDesignationInput"
            },
            "output": {
                "shape": "DeleteDesignationOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "DeleteDomain": {
            "name": "DeleteDomain",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{identifier}",
                "responseCode": 202
            },
            "input": {
                "shape": "DeleteDomainInput"
            },
            "output": {
                "shape": "DeleteDomainOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "DeleteDomainPolicy": {
            "name": "DeleteDomainPolicy",
            "http": {
                "method": "DELETE",
                "requestUri": "/domain/{domainId}/policy/{policyId}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteDomainPolicyInput"
            },
            "output": {
                "shape": "DeleteDomainPolicyOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true,
            "internalonly": true
        },
        "DeleteDomainSharingPolicy": {
            "name": "DeleteDomainSharingPolicy",
            "http": {
                "method": "DELETE",
                "requestUri": "/domainSharingPolicy/{domainArn}",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteDomainSharingPolicyInput"
            },
            "output": {
                "shape": "DeleteDomainSharingPolicyOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "RAMResourceNotFoundException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "internalonly": true
        },
        "DeleteDomainUnit": {
            "name": "DeleteDomainUnit",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/domain-units/{identifier}",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteDomainUnitInput"
            },
            "output": {
                "shape": "DeleteDomainUnitOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "DeleteDomainUnitPolicy": {
            "name": "DeleteDomainUnitPolicy",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/domain-unit-policies/{identifier}",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteDomainUnitPolicyInput"
            },
            "output": {
                "shape": "DeleteDomainUnitPolicyOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "DeleteEnvironment": {
            "name": "DeleteEnvironment",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/environments/{identifier}",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteEnvironmentInput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "DeleteEnvironmentAction": {
            "name": "DeleteEnvironmentAction",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/actions/{identifier}",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteEnvironmentActionInput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "DeleteEnvironmentBlueprint": {
            "name": "DeleteEnvironmentBlueprint",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/environment-blueprints/{identifier}",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteEnvironmentBlueprintInput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "DeleteEnvironmentBlueprintConfiguration": {
            "name": "DeleteEnvironmentBlueprintConfiguration",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/environment-blueprint-configurations/{environmentBlueprintIdentifier}",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteEnvironmentBlueprintConfigurationInput"
            },
            "output": {
                "shape": "DeleteEnvironmentBlueprintConfigurationOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "DeleteEnvironmentProfile": {
            "name": "DeleteEnvironmentProfile",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/environment-profiles/{identifier}",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteEnvironmentProfileInput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ],
            "idempotent": true
        },
        "DeleteFormType": {
            "name": "DeleteFormType",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/form-types/{formTypeIdentifier}",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteFormTypeInput"
            },
            "output": {
                "shape": "DeleteFormTypeOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "UnauthorizedException"
                }
            ]
        },
        "DeleteGlossary": {
            "name": "DeleteGlossary",
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domains/{domainIdentifier}/glossaries/{identifier}",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteGlossaryInput"
            },
            "output": {
                "shape": "DeleteGlossaryOutput"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
[...]
