{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2021-07-13",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"emr-serverless",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"EMR Serverless",
    "serviceId":"EMR Serverless",
    "signatureVersion":"v4",
    "signingName":"emr-serverless",
    "uid":"emr-serverless-2021-07-13"
  },
  "operations":{
    "CancelJobRun":{
      "name":"CancelJobRun",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/jobruns/{jobRunId}",
        "responseCode":200
      },
      "input":{"shape":"CancelJobRunRequest"},
      "output":{"shape":"CancelJobRunResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "idempotent":true
    },
    "CreateApplication":{
      "name":"CreateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/applications",
        "responseCode":200
      },
      "input":{"shape":"CreateApplicationRequest"},
      "output":{"shape":"CreateApplicationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "idempotent":true
    },
    "CreateInteractiveEndpointXENI":{
      "name":"CreateInteractiveEndpointXENI",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/createInteractiveEndpointXENI",
        "responseCode":200
      },
      "input":{"shape":"CreateInteractiveEndpointXENIRequest"},
      "output":{"shape":"CreateInteractiveEndpointXENIResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Fetches ENI Id for an Interactive Endpoint whcih is attached by studio to their instance</p>",
      "internalonly":true
    },
    "DeleteApplication":{
      "name":"DeleteApplication",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteApplicationRequest"},
      "output":{"shape":"DeleteApplicationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "idempotent":true
    },
    "GetApplication":{
      "name":"GetApplication",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}",
        "responseCode":200
      },
      "input":{"shape":"GetApplicationRequest"},
      "output":{"shape":"GetApplicationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "GetDashboardForJobRun":{
      "name":"GetDashboardForJobRun",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/jobruns/{jobRunId}/dashboard",
        "responseCode":200
      },
      "input":{"shape":"GetDashboardForJobRunRequest"},
      "output":{"shape":"GetDashboardForJobRunResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DryRunOperation"},
        {"shape":"UnauthorizedOperation"}
      ]
    },
    "GetJobRun":{
      "name":"GetJobRun",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/jobruns/{jobRunId}",
        "responseCode":200
      },
      "input":{"shape":"GetJobRunRequest"},
      "output":{"shape":"GetJobRunResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "GetResourceDashboard":{
      "name":"GetResourceDashboard",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/dashboard",
        "responseCode":200
      },
      "input":{"shape":"GetResourceDashboardRequest"},
      "output":{"shape":"GetResourceDashboardResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DryRunOperation"}
      ],
      "readonly":true
    },
    "GetSession":{
      "name":"GetSession",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/sessions/{sessionId}",
        "responseCode":200
      },
      "input":{"shape":"GetSessionRequest"},
      "output":{"shape":"GetSessionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "GetSessionEndpoint":{
      "name":"GetSessionEndpoint",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/sessions/{sessionId}/endpoint",
        "responseCode":200
      },
      "input":{"shape":"GetSessionEndpointRequest"},
      "output":{"shape":"GetSessionEndpointResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "readonly":true
    },
    "ListApplications":{
      "name":"ListApplications",
      "http":{
        "method":"GET",
        "requestUri":"/applications",
        "responseCode":200
      },
      "input":{"shape":"ListApplicationsRequest"},
      "output":{"shape":"ListApplicationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListJobRunAttempts":{
      "name":"ListJobRunAttempts",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/jobruns/{jobRunId}/attempts",
        "responseCode":200
      },
      "input":{"shape":"ListJobRunAttemptsRequest"},
      "output":{"shape":"ListJobRunAttemptsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "ListJobRuns":{
      "name":"ListJobRuns",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/jobruns",
        "responseCode":200
      },
      "input":{"shape":"ListJobRunsRequest"},
      "output":{"shape":"ListJobRunsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListSessions":{
      "name":"ListSessions",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/sessions",
        "responseCode":200
      },
      "input":{"shape":"ListSessionsRequest"},
      "output":{"shape":"ListSessionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "LockServiceLinkedRole":{
      "name":"LockServiceLinkedRole",
      "http":{
        "method":"POST",
        "requestUri":"/slr-deletion/lock",
        "responseCode":200
      },
      "input":{"shape":"LockServiceLinkedRoleRequest"},
      "output":{"shape":"LockServiceLinkedRoleResponse"},
      "errors":[
        {"shape":"ServiceLinkedRoleLockClientException"},
        {"shape":"ServiceLinkedRoleLockServiceException"}
      ],
      "internalonly":true
    },
    "StartApplication":{
      "name":"StartApplication",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/start",
        "responseCode":200
      },
      "input":{"shape":"StartApplicationRequest"},
      "output":{"shape":"StartApplicationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "idempotent":true
    },
    "StartJobRun":{
      "name":"StartJobRun",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/jobruns",
        "responseCode":200
      },
      "input":{"shape":"StartJobRunRequest"},
      "output":{"shape":"StartJobRunResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"}
      ],
      "idempotent":true
    },
    "StartSession":{
      "name":"StartSession",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/sessions",
        "responseCode":200
      },
      "input":{"shape":"StartSessionRequest"},
      "output":{"shape":"StartSessionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "idempotent":true
    },
    "StopApplication":{
      "name":"StopApplication",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/stop",
        "responseCode":200
      },
      "input":{"shape":"StopApplicationRequest"},
      "output":{"shape":"StopApplicationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "TerminateSession":{
      "name":"TerminateSession",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/sessions/{sessionId}",
        "responseCode":200
      },
      "input":{"shape":"TerminateSessionRequest"},
      "output":{"shape":"TerminateSessionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "idempotent":true
    },
    "UnlockServiceLinkedRole":{
      "name":"UnlockServiceLinkedRole",
      "http":{
        "method":"POST",
        "requestUri":"/slr-deletion/unlock",
        "responseCode":200
      },
      "input":{"shape":"UnlockServiceLinkedRoleRequest"},
      "output":{"shape":"UnlockServiceLinkedRoleResponse"},
      "errors":[
        {"shape":"ServiceLinkedRoleLockClientException"},
        {"shape":"ServiceLinkedRoleLockServiceException"}
      ],
      "internalonly":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "idempotent":true
    },
    "UpdateApplication":{
      "name":"UpdateApplication",
      "http":{
        "method":"PATCH",
        "requestUri":"/applications/{applicationId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateApplicationRequest"},
      "output":{"shape":"UpdateApplicationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ]
    }
  },
  "shapes":{
    "AccountId":{
      "type":"string",
      "documentation":"<p>Unique identifier for a Account.</p>",
      "internalonly":true,
      "pattern":"[0-9]{12}"
    },
    "Application":{
      "type":"structure",
      "required":[
        "applicationId",
        "arn",
        "releaseLabel",
        "type",
        "state",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "applicationId":{"shape":"ApplicationId"},
        "name":{"shape":"ApplicationName"},
        "arn":{"shape":"ApplicationArn"},
        "releaseLabel":{"shape":"ReleaseLabel"},
        "type":{"shape":"EngineType"},
        "state":{"shape":"ApplicationState"},
        "stateDetails":{"shape":"String256"},
        "initialCapacity":{"shape":"InitialCapacityConfigMap"},
        "maximumCapacity":{"shape":"MaximumAllowedResources"},
        "createdAt":{"shape":"Date"},
        "updatedAt":{"shape":"Date"},
        "tags":{"shape":"TagMap"},
        "autoStartConfiguration":{"shape":"AutoStartConfig"},
        "autoStopConfiguration":{"shape":"AutoStopConfig"},
        "autoStartConfig":{
          "shape":"AutoStartConfig",
          "internalonly":true
        },
        "autoStopConfig":{
          "shape":"AutoStopConfig",
          "internalonly":true
        },
        "networkConfiguration":{"shape":"NetworkConfiguration"},
        "architecture":{"shape":"Architecture"},
        "imageConfiguration":{"shape":"ImageConfiguration"},
        "workerTypeSpecifications":{"shape":"WorkerTypeSpecificationMap"},
        "runtimeConfiguration":{"shape":"ConfigurationList"},
        "monitoringConfiguration":{"shape":"MonitoringConfiguration"},
        "diskEncryptionConfiguration":{"shape":"DiskEncryptionConfiguration"},
        "interactiveEndpointEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Boolean value indicating if interactive endpoint is enabled or disabled</p>",
          "internalonly":true
        },
        "interactiveConfiguration":{"shape":"InteractiveConfiguration"},
        "initialCapacityProvisionState":{
          "shape":"InitialCapacityProvisionState",
          "documentation":"<p>Details of the initial capacity provision state.</p>",
          "internalonly":true
        },
        "schedulerConfiguration":{"shape":"SchedulerConfiguration"},
        "identityCenterConfiguration":{"shape":"IdentityCenterConfiguration"},
        "jobLevelCostAllocationConfiguration":{"shape":"JobLevelCostAllocationConfiguration"}
      }
    },
    "ApplicationArn":{
      "type":"string",
      "max":1024,
      "min":60,
      "pattern":"arn:(aws[a-zA-Z0-9-]*):emr-serverless:.+:(\\d{12}):\\/applications\\/[0-9a-zA-Z]+"
    },
    "ApplicationId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[0-9a-z]+"
    },
    "ApplicationList":{
      "type":"list",
      "member":{"shape":"ApplicationSummary"}
    },
    "ApplicationName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9._/#-]+"
    },
    "ApplicationState":{
      "type":"string",
      "enum":[
        "CREATING",
        "CREATED",
        "STARTING",
        "STARTED",
        "STOPPING",
        "STOPPED",
        "TERMINATED"
      ]
    },
    "ApplicationStateSet":{
      "type":"list",
      "member":{"shape":"ApplicationState"},
      "max":7,
      "min":1
    },
    "ApplicationSummary":{
      "type":"structure",
      "required":[
        "id",
        "arn",
        "releaseLabel",
        "type",
        "state",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "id":{"shape":"ApplicationId"},
        "name":{"shape":"ApplicationName"},
        "arn":{"shape":"ApplicationArn"},
        "releaseLabel":{"shape":"ReleaseLabel"},
        "type":{"shape":"EngineType"},
        "state":{"shape":"ApplicationState"},
        "stateDetails":{"shape":"String256"},
        "createdAt":{"shape":"Date"},
        "updatedAt":{"shape":"Date"},
        "architecture":{"shape":"Architecture"},
        "interactiveEndpointEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Boolean value indicating if interactive endpoint is enabled or disabled</p>",
          "internalonly":true
        }
      }
    },
    "Architecture":{
      "type":"string",
      "enum":[
        "ARM64",
        "X86_64"
      ]
    },
    "Arn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"([    -~ -퟿-�က0-ჿFF]+)"
    },
    "AttemptNumber":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "AutoStartConfig":{
      "type":"structure",
      "members":{
        "enabled":{"shape":"Boolean"}
      }
    },
    "AutoStopConfig":{
      "type":"structure",
      "members":{
        "enabled":{"shape":"Boolean"},
        "idleTimeout":{
          "shape":"AutoStopConfigIdleTimeoutInteger",
          "internalonly":true
        },
        "idleTimeoutMinutes":{"shape":"AutoStopConfigIdleTimeoutMinutesInteger"}
      }
    },
    "AutoStopConfigIdleTimeoutInteger":{
      "type":"integer",
      "box":true,
      "max":10080,
      "min":1
    },
    "AutoStopConfigIdleTimeoutMinutesInteger":{
      "type":"integer",
      "box":true,
      "max":10080,
      "min":1
    },
    "AvailabilityZoneId":{
      "type":"string",
      "internalonly":true,
      "max":50,
      "min":1
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "CancelJobRunRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "jobRunId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"applicationId"
        },
        "jobRunId":{
          "shape":"JobRunId",
          "location":"uri",
          "locationName":"jobRunId"
        },
        "shutdownGracePeriodInSeconds":{
          "shape":"ShutdownGracePeriodInSeconds",
          "location":"querystring",
          "locationName":"shutdownGracePeriodInSeconds"
        }
      }
    },
    "CancelJobRunResponse":{
      "type":"structure",
      "required":[
        "applicationId",
        "jobRunId"
      ],
      "members":{
        "applicationId":{"shape":"ApplicationId"},
        "jobRunId":{"shape":"JobRunId"}
      }
    },
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9._-]+"
    },
    "CloudWatchLoggingConfiguration":{
      "type":"structure",
      "required":["enabled"],
      "members":{
        "enabled":{"shape":"Boolean"},
        "logGroupName":{"shape":"LogGroupName"},
        "logStreamNamePrefix":{"shape":"LogStreamNamePrefix"},
        "encryptionKeyArn":{"shape":"EncryptionKeyArn"},
        "logTypes":{"shape":"LogTypeMap"}
      }
    },
    "Configuration":{
      "type":"structure",
      "required":["classification"],
      "members":{
        "classification":{"shape":"String1024"},
        "properties":{"shape":"SensitivePropertiesMap"},
        "configurations":{"shape":"ConfigurationList"}
      }
    },
    "ConfigurationList":{
      "type":"list",
      "member":{"shape":"Configuration"},
      "max":100,
      "min":0
    },
    "ConfigurationOverrides":{
      "type":"structure",
      "members":{
        "applicationConfiguration":{"shape":"ConfigurationList"},
        "monitoringConfiguration":{"shape":"MonitoringConfiguration"},
        "diskEncryptionConfiguration":{"shape":"DiskEncryptionConfiguration"}
      }
    },
    "ConfigurationPropertyKey":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":".*\\S.*"
    },
    "ConfigurationPropertyValue":{
      "type":"string",
      "max":1024,
      "min":0,
      "pattern":".*\\S.*"
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String1024"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CpuSize":{
      "type":"string",
      "max":15,
      "min":1,
      "pattern":"[1-9][0-9]*(\\s)?(vCPU|vcpu|VCPU)?"
    },
    "CreateApplicationRequest":{
      "type":"structure",
      "required":[
        "releaseLabel",
        "type",
        "clientToken"
      ],
      "members":{
        "name":{"shape":"ApplicationName"},
        "releaseLabel":{"shape":"ReleaseLabel"},
        "type":{"shape":"EngineType"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "initialCapacity":{"shape":"InitialCapacityConfigMap"},
        "maximumCapacity":{"shape":"MaximumAllowedResources"},
        "tags":{"shape":"TagMap"},
        "autoStartConfiguration":{"shape":"AutoStartConfig"},
        "autoStopConfiguration":{"shape":"AutoStopConfig"},
        "autoStartConfig":{
          "shape":"AutoStartConfig",
          "internalonly":true
        },
        "autoStopConfig":{
          "shape":"AutoStopConfig",
          "internalonly":true
        },
        "networkConfiguration":{"shape":"NetworkConfiguration"},
        "architecture":{"shape":"Architecture"},
        "imageConfiguration":{"shape":"ImageConfigurationInput"},
        "workerTypeSpecifications":{"shape":"WorkerTypeSpecificationInputMap"},
        "runtimeConfiguration":{"shape":"ConfigurationList"},
        "monitoringConfiguration":{"shape":"MonitoringConfiguration"},
        "diskEncryptionConfiguration":{"shape":"DiskEncryptionConfiguration"},
        "interactiveEndpointEnabled":{
          "shape":"Boolean",
          "internalonly":true
        },
        "interactiveConfiguration":{"shape":"InteractiveConfiguration"},
        "schedulerConfiguration":{"shape":"SchedulerConfiguration"},
        "identityCenterConfiguration":{"shape":"IdentityCenterConfigurationInput"},
        "jobLevelCostAllocationConfiguration":{"shape":"JobLevelCostAllocationConfiguration"}
      }
    },
    "CreateApplicationResponse":{
      "type":"structure",
      "required":[
        "applicationId",
        "arn"
      ],
      "members":{
        "applicationId":{"shape":"ApplicationId"},
        "name":{"shape":"ApplicationName"},
        "arn":{"shape":"ApplicationArn"}
      }
    },
    "CreateInteractiveEndpointXENIRequest":{
      "type":"structure",
      "required":[
        "accountId",
        "applicationId",
        "studioInstanceId"
      ],
      "members":{
        "accountId":{"shape":"AccountId"},
        "applicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"applicationId"
        },
        "studioInstanceId":{"shape":"EC2InstanceId"},
        "availabilityZoneId":{"shape":"AvailabilityZoneId"}
      },
      "documentation":"<p>Input to CreateInteractiveEndpointXENI.</p>"
    },
    "CreateInteractiveEndpointXENIResponse":{
      "type":"structure",
      "required":[
        "xENIId",
        "xENIMACAddress",
        "vpcCIDR",
        "availabilityZoneId"
      ],
      "members":{
        "xENIId":{
          "shape":"ENIId",
          "documentation":"<p>Cross Account ENI id</p>"
        },
        "xENIMACAddress":{
          "shape":"MACAddress",
          "documentation":"<p>MAC address of ENI</p>"
        },
        "vpcCIDR":{
          "shape":"IPV6CIDR",
          "documentation":"<p>VPC CIDR range for routing table entries</p>"
        },
        "availabilityZoneId":{
          "shape":"AvailabilityZoneId",
          "documentation":"<p>xENI AZId</p>"
        }
      },
      "documentation":"<p>Output of CreateInteractiveEndpointXENI.</p>"
    },
    "DashboardAction":{
      "type":"string",
      "enum":[
        "FORCE_PROVISION",
        "NO_PROVISION",
        "CHECK_PERMISSION"
      ],
      "internalonly":true
    },
    "DashboardType":{
      "type":"string",
      "enum":[
        "SPARK_UI",
        "TEZ_UI"
      ],
      "internalonly":true
    },
    "DashboardUrlType":{
      "type":"string",
      "enum":[
        "PRESIGNED_URL_FOR_PERSISTENT_UI",
        "PRESIGNED_URL_FOR_LIVE_UI",
        "EXTERNAL_PRESIGNED_URL_FOR_PERSISTENT_UI"
      ],
      "internalonly":true
    },
    "Date":{"type":"timestamp"},
    "DeleteApplicationRequest":{
      "type":"structure",
      "required":["applicationId"],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"applicationId"
        }
      }
    },
    "DeleteApplicationResponse":{
      "type":"structure",
      "members":{}
    },
    "DiskEncryptionConfiguration":{
      "type":"structure",
      "members":{
        "encryptionContext":{"shape":"EncryptionContext"},
        "encryptionKeyArn":{"shape":"EncryptionKeyArn"}
      }
    },
    "DiskIops":{
      "type":"string",
      "pattern":"[0-9]{4,5}"
    },
    "DiskSize":{
      "type":"string",
      "max":15,
      "min":1,
      "pattern":"[1-9][0-9]*(\\s)?(GB|gb|gB|Gb)"
    },
    "DiskThroughput":{
      "type":"string",
      "pattern":"[0-9]{3,4}"
    },
    "DiskType":{
      "type":"string",
      "pattern":"(SHUFFLE_OPTIMIZED|[Ss]huffle_[Oo]ptimized|STANDARD|[Ss]tandard)"
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "DryRunOperation":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String1024"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "internalonly":true
    },
    "Duration":{
      "type":"long",
      "max":1000000,
      "min":0
    },
    "EC2InstanceId":{
      "type":"string",
      "internalonly":true,
      "min":1,
      "pattern":"(i-[0-9a-f]{8}|i-[0-9a-f]{17})"
    },
    "ENIId":{
      "type":"string",
      "internalonly":true,
      "pattern":"(eni-[0-9a-f]{8}|eni-[0-9a-f]{17})"
    },
    "EncryptionContext":{
      "type":"map",
      "key":{"shape":"EncryptionContextKey"},
      "value":{"shape":"EncryptionContextValue"},
      "max":8,
      "min":0
    },
    "EncryptionContextKey":{
      "type":"string",
      "max":128,
      "min":1
    },
    "EncryptionContextValue":{
      "type":"string",
      "max":384,
      "min":1
    },
    "EncryptionKeyArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:(aws[a-zA-Z0-9-]*):kms:[a-zA-Z0-9\\-]*:([0-9]{12}):key\\/[a-zA-Z0-9-]+"
    },
    "EndpointUrl":{
      "type":"string",
      "max":256,
      "min":1
    },
    "EngineType":{
      "type":"string",
      "max":64,
      "min":1
    },
    "EntryPointArgument":{
      "type":"string",
      "min":0,
      "sensitive":true
    },
    "EntryPointArguments":{
      "type":"list",
      "member":{"shape":"EntryPointArgument"},
      "max":1024,
      "min":0
    },
    "EntryPointPath":{
      "type":"string",
      "max":4096,
      "min":1,
      "pattern":".*\\S.*",
      "sensitive":true
    },
    "GetApplicationRequest":{
      "type":"structure",
      "required":["applicationId"],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"applicationId"
        }
      }
    },
    "GetApplicationResponse":{
      "type":"structure",
      "required":["application"],
      "members":{
        "application":{"shape":"Application"}
      }
    },
    "GetDashboardForJobRunRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "jobRunId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"applicationId"
        },
        "jobRunId":{
          "shape":"JobRunId",
          "location":"uri",
          "locationName":"jobRunId"
        },
        "dashboardType":{
          "shape":"DashboardType",
          "internalonly":true,
          "location":"querystring",
          "locationName":"type"
        },
        "action":{
          "shape":"DashboardAction",
          "internalonly":true,
          "location":"querystring",
          "locationName":"action"
        },
        "urlType":{
          "shape":"DashboardUrlType",
          "internalonly":true,
          "location":"querystring",
          "locationName":"urlType"
        },
        "attempt":{
          "shape":"AttemptNumber",
          "location":"querystring",
          "locationName":"attempt"
        },
        "accessSystemProfileLogs":{
          "shape":"Boolean",
          "location":"querystring",
          "locationName":"accessSystemProfileLogs"
        },
        "dryRun":{
          "shape":"Boolean",
          "internalonly":true,
          "location":"querystring",
          "locationName":"dryRun"
        }
      }
    },
    "GetDashboardForJobRunResponse":{
      "type":"structure",
      "required":["urlAvailabilityStatus"],
      "members":{
        "urlAvailabilityStatus":{
          "shape":"UrlAvailabilityStatus",
          "internalonly":true
        },
        "url":{"shape":"Url"}
      }
    },
    "GetJobRunRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "jobRunId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"applicationId"
        },
        "jobRunId":{
          "shape":"JobRunId",
          "location":"uri",
          "locationName":"jobRunId"
        },
        "attempt":{
          "shape":"AttemptNumber",
          "location":"querystring",
          "locationName":"attempt"
        }
      }
    },
    "GetJobRunResponse":{
      "type":"structure",
      "required":["jobRun"],
      "members":{
        "jobRun":{"shape":"JobRun"}
      }
    },
    "GetResourceDashboardRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"applicationId"
        },
        "resourceId":{
          "shape":"ResourceId",
          "location":"querystring",
          "locationName":"resourceId"
        },
        "resourceType":{
          "shape":"ResourceType",
          "location":"querystring",
          "locationName":"resourceType"
        },
        "dashboardType":{
          "shape":"DashboardType",
          "internalonly":true,
          "location":"querystring",
          "locationName":"type"
        },
        "action":{
          "shape":"DashboardAction",
          "internalonly":true,
          "location":"querystring",
          "locationName":"action"
        },
        "urlType":{
          "shape":"DashboardUrlType",
          "internalonly":true,
          "location":"querystring",
          "locationName":"urlType"
        },
        "accessSystemProfileLogs":{
          "shape":"Boolean",
          "internalonly":true,
          "location":"querystring",
          "locationName":"accessSystemProfileLogs"
        },
        "dryRun":{
          "shape":"Boolean",
          "internalonly":true,
          "location":"querystring",
          "locationName":"dryRun"
        }
      }
    },
    "GetResourceDashboardResponse":{
      "type":"structure",
      "required":["urlAvailabilityStatus"],
      "members":{
        "urlAvailabilityStatus":{
          "shape":"UrlAvailabilityStatus",
          "internalonly":true
        },
        "url":{"shape":"Url"}
      }
    },
    "GetSessionEndpointRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "sessionId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"applicationId"
        },
        "sessionId":{
          "shape":"SessionId",
          "location":"uri",
          "locationName":"sessionId"
        }
      }
    },
    "GetSessionEndpointResponse":{
      "type":"structure",
      "required":[
        "applicationId",
        "sessionId",
        "endpoint",
        "authToken",
        "authTokenExpiresAt"
      ],
      "members":{
        "applicationId":{"shape":"ApplicationId"},
        "sessionId":{"shape":"SessionId"},
        "endpoint":{"shape":"EndpointUrl"},
        "authToken":{"shape":"SessionAuthToken"},
        "authTokenExpiresAt":{"shape":"Date"}
      }
    },
    "GetSessionRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "sessionId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"applicationId"
        },
        "sessionId":{
          "shape":"SessionId",
          "location":"uri",
          "locationName":"sessionId"
        }
      }
    },
    "GetSessionResponse":{
      "type":"structure",
      "required":["session"],
      "members":{
        "session":{"shape":"Session"}
      }
    },
    "Hive":{
      "type":"structure",
      "required":["query"],
      "members":{
        "query":{"shape":"Query"},
        "initQueryFile":{"shape":"InitScriptPath"},
        "parameters":{"shape":"HiveCliParameters"}
      }
    },
    "HiveCliParameters":{
      "type":"string",
      "max":102400,
      "min":1,
      "pattern":".*\\S.*",
      "sensitive":true
    },
    "IAMRoleArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:(aws[a-zA-Z0-9-]*):iam::([0-9]{12}):(role((\\u002F)|(\\u002F[\\u0021-\\u007F]+\\u002F))[\\w+=,.@-]+)"
    },
    "IPV6CIDR":{
      "type":"string",
      "internalonly":true,
      "max":43,
      "min":1
    },
    "IdentityCenterApplicationArn":{
      "type":"string",
      "pattern":"arn:(aws[a-zA-Z0-9-]*):sso::\\d{12}:application/(sso)?ins-[a-zA-Z0-9-.]{16}/apl-[a-zA-Z0-9]{16}"
    },
    "IdentityCenterConfiguration":{
      "type":"structure",
      "members":{
        "identityCenterInstanceArn":{"shape":"IdentityCenterInstanceArn"},
        "identityCenterApplicationArn":{"shape":"IdentityCenterApplicationArn"},
        "userBackgroundSessionsEnabled":{"shape":"Boolean"}
      }
    },
    "IdentityCenterConfigurationInput":{
      "type":"structure",
      "members":{
        "identityCenterInstanceArn":{"shape":"IdentityCenterInstanceArn"},
        "userBackgroundSessionsEnabled":{"shape":"Boolean"}
      }
    },
    "IdentityCenterInstanceArn":{
      "type":"string",
      "max":1024,
      "min":10,
      "pattern":"arn:(aws[a-zA-Z0-9-]*):sso:::instance/(sso)?ins-[a-zA-Z0-9-.]{16}"
    },
    "ImageConfiguration":{
      "type":"structure",
      "required":["imageUri"],
      "members":{
        "imageUri":{"shape":"ImageUri"},
        "resolvedImageDigest":{"shape":"ImageDigest"},
        "applicationLevelDigestResolution":{
          "shape":"Boolean",
          "documentation":"<p>Boolean value indicating if the digest resolution is application level or not.</p>",
          "internalonly":true
        }
      }
    },
    "ImageConfigurationInput":{
      "type":"structure",
      "members":{
        "imageUri":{"shape":"ImageUri"},
        "applicationLevelDigestResolution":{
          "shape":"Boolean",
          "documentation":"<p>Boolean value indicating if the digest resolution is application level or not.</p>",
          "internalonly":true
        }
      }
    },
    "ImageDigest":{
      "type":"string",
      "pattern":"sha256:[0-9a-f]{64}"
    },
    "ImageUri":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"([0-9]{12})\\.dkr\\.ecr\\.([a-z0-9-]+).([a-z0-9._-]+)\\/((?:[a-z0-9]+(?:[-._][a-z0-9]+)*/)*[a-z0-9]+(?:[-._][a-z0-9]+)*)(?::([a-zA-Z0-9_]+[a-zA-Z0-9-._]*)|@(sha256:[0-9a-f]{64}))"
    },
    "InitScriptPath":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":".*\\S.*",
      "sensitive":true
    },
    "InitialCapacityConfig":{
      "type":"structure",
      "required":["workerCount"],
      "members":{
        "workerCount":{"shape":"WorkerCounts"},
        "workerConfiguration":{"shape":"WorkerResourceConfig"},
        "resourceConfiguration":{
          "shape":"WorkerResourceConfig",
          "internalonly":true
        }
      }
    },
    "InitialCapacityConfigMap":{
      "type":"map",
      "key":{"shape":"WorkerTypeString"},
      "value":{"shape":"InitialCapacityConfig"},
      "max":10,
      "min":0
    },
    "InitialCapacityProvisionState":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"InitialCapacityProvisionStatus",
          "documentation":"<p>Enum that details the current status of the pre-init capacity provision request.</p>",
          "internalonly":true
        },
        "details":{
          "shape":"String1024",
          "documentation":"<p>Details of the current status of pre-init provisioning</p>",
          "internalonly":true
        },
        "requestedAt":{
          "shape":"Date",
          "documentation":"<p>A timestamp of when provision request was made</p>",
          "internalonly":true
        },
        "updatedAt":{
          "shape":"Date",
          "documentation":"<p>A timestamp of when provision request was completed</p>",
          "internalonly":true
        }
      },
      "documentation":"<p>Details of the application's initial capacity provision state.</p>"
    },
    "InitialCapacityProvisionStatus":{
      "type":"string",
      "documentation":"<p>Status of InitialCapacityProvision.</p>",
      "enum":[
        "PROVISIONING",
        "PROVISIONED",
        "PROVISION_FAILED"
      ]
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InteractiveConfiguration":{
      "type":"structure",
      "members":{
        "enabled":{
          "shape":"Boolean",
          "documentation":"<p>Exists for backwards compatibility.</p>",
          "internalonly":true
        },
        "studioEnabled":{"shape":"Boolean"},
        "livyEndpointEnabled":{"shape":"Boolean"},
        "sessionEnabled":{"shape":"Boolean"}
      }
    },
    "InternalServerException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String1024"}
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "JobArn":{
      "type":"string",
      "max":1024,
      "min":60,
      "pattern":"arn:(aws[a-zA-Z0-9-]*):emr-serverless:.+:(\\d{12}):\\/applications\\/[0-9a-zA-Z]+\\/jobruns\\/[0-9a-zA-Z]+"
    },
    "JobDriver":{
      "type":"structure",
      "members":{
        "sparkSubmit":{"shape":"SparkSubmit"},
        "hive":{"shape":"Hive"}
      },
      "union":true
    },
    "JobLevelCostAllocationConfiguration":{
      "type":"structure",
      "members":{
        "enabled":{"shape":"Boolean"}
      }
    },
    "JobRun":{
      "type":"structure",
      "required":[
        "applicationId",
        "jobRunId",
        "arn",
        "createdBy",
        "createdAt",
        "updatedAt",
        "executionRole",
        "state",
        "stateDetails",
        "releaseLabel",
        "jobDriver"
      ],
      "members":{
        "applicationId":{"shape":"ApplicationId"},
        "jobRunId":{"shape":"JobRunId"},
        "name":{"shape":"String256"},
        "arn":{"shape":"JobArn"},
        "createdBy":{"shape":"RequestIdentityUserArn"},
        "createdAt":{"shape":"Date"},
        "updatedAt":{"shape":"Date"},
        "executionRole":{"shape":"IAMRoleArn"},
        "executionIamPolicy":{"shape":"JobRunExecutionIamPolicy"},
        "state":{"shape":"JobRunState"},
        "stateDetails":{"shape":"String256"},
        "releaseLabel":{"shape":"ReleaseLabel"},
        "configurationOverrides":{"shape":"ConfigurationOverrides"},
        "jobDriver":{"shape":"JobDriver"},
        "tags":{"shape":"TagMap"},
        "totalResourceUtilization":{"shape":"TotalResourceUtilization"},
        "networkConfiguration":{"shape":"NetworkConfiguration"},
        "totalExecutionDurationSeconds":{"shape":"Integer"},
        "executionTimeoutMinutes":{
          "shape":"Duration",
          "box":true
        },
        "billedResourceUtilization":{"shape":"ResourceUtilization"},
        "mode":{"shape":"JobRunMode"},
        "retryPolicy":{"shape":"RetryPolicy"},
        "attempt":{"shape":"AttemptNumber"},
        "attemptCreatedAt":{"shape":"Date"},
        "attemptUpdatedAt":{"shape":"Date"},
        "startedAt":{"shape":"Date"},
        "endedAt":{"shape":"Date"},
        "queuedDurationMilliseconds":{"shape":"Long"},
        "imageConfiguration":{
          "shape":"ImageConfiguration",
          "documentation":"<p>The image configuration applied to all worker types.</p>",
          "internalonly":true
        },
        "workerTypeSpecifications":{
          "shape":"WorkerTypeSpecificationMap",
          "documentation":"<p>The overrides for workers. Specified by worker type.</p>",
          "internalonly":true
        }
      }
    },
    "JobRunAttemptSummary":{
      "type":"structure",
      "required":[
        "applicationId",
        "id",
        "arn",
        "createdBy",
        "jobCreatedAt",
        "createdAt",
        "updatedAt",
        "executionRole",
        "state",
        "stateDetails",
        "releaseLabel"
      ],
      "members":{
        "applicationId":{"shape":"ApplicationId"},
        "id":{"shape":"JobRunId"},
        "name":{"shape":"String256"},
        "mode":{"shape":"JobRunMode"},
        "arn":{"shape":"JobArn"},
        "createdBy":{"shape":"RequestIdentityUserArn"},
        "jobCreatedAt":{"shape":"Date"},
        "createdAt":{"shape":"Date"},
        "updatedAt":{"shape":"Date"},
        "executionRole":{"shape":"IAMRoleArn"},
        "state":{"shape":"JobRunState"},
        "stateDetails":{"shape":"String256"},
        "releaseLabel":{"shape":"ReleaseLabel"},
        "type":{"shape":"JobRunType"},
        "attempt":{"shape":"AttemptNumber"}
      }
    },
    "JobRunAttempts":{
      "type":"list",
      "member":{"shape":"JobRunAttemptSummary"}
    },
    "JobRunExecutionIamPolicy":{
      "type":"structure",
      "members":{
        "policy":{"shape":"PolicyDocument"},
        "policyArns":{"shape":"PolicyArnList"}
      }
    },
    "JobRunId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[0-9a-z]+"
    },
    "JobRunMode":{
      "type":"string",
      "enum":[
        "BATCH",
        "STREAMING"
      ]
    },
    "JobRunState":{
      "type":"string",
      "enum":[
        "SUBMITTED",
        "PENDING",
        "SCHEDULED",
        "RUNNING",
        "SUCCESS",
        "FAILED",
        "CANCELLING",
        "CANCELLED",
        "QUEUED"
      ]
    },
    "JobRunStateSet":{
      "type":"list",
      "member":{"shape":"JobRunState"},
      "max":8,
      "min":0
    },
    "JobRunSummary":{
      "type":"structure",
      "required":[
        "applicationId",
        "id",
        "arn",
        "createdBy",
        "createdAt",
        "updatedAt",
        "executionRole",
        "state",
        "stateDetails",
        "releaseLabel"
      ],
      "members":{
        "applicationId":{"shape":"ApplicationId"},
        "id":{"shape":"JobRunId"},
        "name":{"shape":"String256"},
        "mode":{"shape":"JobRunMode"},
        "arn":{"shape":"JobArn"},
        "createdBy":{"shape":"RequestIdentityUserArn"},
        "createdAt":{"shape":"Date"},
        "updatedAt":{"shape":"Date"},
        "executionRole":{"shape":"IAMRoleArn"},
        "state":{"shape":"JobRunState"},
        "stateDetails":{"shape":"String256"},
        "releaseLabel":{"shape":"ReleaseLabel"},
        "type":{"shape":"JobRunType"},
        "attempt":{"shape":"AttemptNumber"},
        "attemptCreatedAt":{"shape":"Date"},
        "attemptUpdatedAt":{"shape":"Date"}
      }
    },
    "JobRunType":{"type":"string"},
    "JobRuns":{
      "type":"list",
      "member":{"shape":"JobRunSummary"}
    },
    "ListApplicationsRequest":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListApplicationsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "states":{
          "shape":"ApplicationStateSet",
          "location":"querystring",
          "locationName":"states"
        },
        "interactiveEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Filter to return only interactive enabled applications. By default, API will return all.</p>",
          "internalonly":true,
          "location":"querystring",
          "locationName":"interactiveEnabled"
        }
      }
    },
    "ListApplicationsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":50,
      "min":1
    },
    "ListApplicationsResponse":{
      "type":"structure",
      "required":["applications"],
      "members":{
        "applications":{"shape":"ApplicationList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListJobRunAttemptsRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "jobRunId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"applicationId"
        },
        "jobRunId":{
          "shape":"JobRunId",
          "location":"uri",
          "locationName":"jobRunId"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListJobRunAttemptsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListJobRunAttemptsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":50,
      "min":1
    },
    "ListJobRunAttemptsResponse":{
      "type":"structure",
      "required":["jobRunAttempts"],
      "members":{
        "jobRunAttempts":{"shape":"JobRunAttempts"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListJobRunsRequest":{
      "type":"structure",
      "required":["applicationId"],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"applicationId"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListJobRunsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "createdAtAfter":{
          "shape":"Date",
          "location":"querystring",
          "locationName":"createdAtAfter"
        },
        "createdAtBefore":{
          "shape":"Date",
          "location":"querystring",
          "locationName":"createdAtBefore"
        },
        "states":{
          "shape":"JobRunStateSet",
          "location":"querystring",
          "locationName":"states"
        },
        "mode":{
          "shape":"JobRunMode",
          "location":"querystring",
          "locationName":"mode"
        }
      }
    },
    "ListJobRunsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":50,
      "min":1
    },
    "ListJobRunsResponse":{
      "type":"structure",
      "required":["jobRuns"],
      "members":{
        "jobRuns":{"shape":"JobRuns"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListSessionsRequest":{
      "type":"structure",
      "required":["applicationId"],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"applicationId"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListSessionsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "states":{
          "shape":"SessionStateSet",
          "location":"querystring",
          "locationName":"states"
        },
        "createdAtAfter":{
          "shape":"Date",
          "location":"querystring",
          "locationName":"createdAtAfter"
        },
        "createdAtBefore":{
          "shape":"Date",
          "location":"querystring",
          "locationName":"createdAtBefore"
        }
      }
    },
    "ListSessionsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":50,
      "min":1
    },
    "ListSessionsResponse":{
      "type":"structure",
      "required":["sessions"],
      "members":{
        "sessions":{"shape":"Sessions"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{
          "shape":"ResourceArn",
          "location":"uri",
          "locationName":"resourceArn"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "tags":{"shape":"TagMap"}
      }
    },
    "LockServiceLinkedRoleRequest":{
      "type":"structure",
      "required":[
        "RoleArn",
        "Timeout"
      ],
      "members":{
        "RoleArn":{"shape":"arnType"},
        "Timeout":{"shape":"longType"}
      }
    },
    "LockServiceLinkedRoleResponse":{
      "type":"structure",
      "required":["CanBeDeleted"],
      "members":{
        "CanBeDeleted":{"shape":"booleanType"},
        "ReasonOfFailure":{"shape":"stringType"},
        "RelatedResources":{"shape":"stringListType"}
      }
    },
    "LogGroupName":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"[\\.\\-_/#A-Za-z0-9]+"
    },
    "LogStreamNamePrefix":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"[^:*]*"
    },
    "LogTypeList":{
      "type":"list",
      "member":{"shape":"LogTypeString"},
      "max":5,
      "min":1
    },
    "LogTypeMap":{
      "type":"map",
      "key":{"shape":"WorkerTypeString"},
      "value":{"shape":"LogTypeList"},
      "max":4,
      "min":1
    },
    "LogTypeString":{
      "type":"string",
      "documentation":"<p>Log type for a Spark/Hive job-run.</p>",
      "max":50,
      "min":1,
      "pattern":"[a-zA-Z]+[-_]*[a-zA-Z]+"
    },
    "Long":{
      "type":"long",
      "box":true
    },
    "MACAddress":{
      "type":"string",
      "internalonly":true,
      "max":17,
      "min":1,
      "pattern":"([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})"
    },
    "ManagedPersistenceMonitoringConfiguration":{
      "type":"structure",
      "members":{
        "enabled":{"shape":"Boolean"},
        "encryptionKeyArn":{"shape":"EncryptionKeyArn"}
      }
    },
    "MaximumAllowedResources":{
      "type":"structure",
      "required":[
        "cpu",
        "memory"
      ],
      "members":{
        "cpu":{"shape":"CpuSize"},
        "memory":{"shape":"MemorySize"},
        "disk":{"shape":"DiskSize"}
      }
    },
    "MemorySize":{
      "type":"string",
      "max":15,
      "min":1,
      "pattern":"[1-9][0-9]*(\\s)?(GB|gb|gB|Gb)?"
    },
    "MonitoringConfiguration":{
      "type":"structure",
      "members":{
        "s3MonitoringConfiguration":{"shape":"S3MonitoringConfiguration"},
        "managedPersistenceMonitoringConfiguration":{"shape":"ManagedPersistenceMonitoringConfiguration"},
        "cloudWatchLoggingConfiguration":{"shape":"CloudWatchLoggingConfiguration"},
        "prometheusMonitoringConfiguration":{"shape":"PrometheusMonitoringConfiguration"}
      }
    },
    "NetworkConfiguration":{
      "type":"structure",
      "members":{
        "subnetIds":{"shape":"SubnetIds"},
        "securityGroupIds":{"shape":"SecurityGroupIds"}
      }
    },
    "NextToken":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[A-Za-z0-9_=-]+"
    },
    "PolicyArnList":{
      "type":"list",
      "member":{"shape":"Arn"},
      "max":10,
      "min":0
    },
    "PolicyDocument":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"([    -ÿ]+)"
    },
    "PrometheusMonitoringConfiguration":{
      "type":"structure",
      "members":{
        "remoteWriteUrl":{"shape":"PrometheusUrlString"}
      }
    },
    "PrometheusUrlString":{
      "type":"string",
      "max":10280,
      "min":1,
      "pattern":"https://aps-workspaces.([a-z]{2}-[a-z-]{1,20}-[1-9]).amazonaws(.[0-9A-Za-z]{2,4})+/workspaces/[-_.0-9A-Za-z]{1,100}/api/v1/remote_write"
    },
    "Query":{
      "type":"string",
      "max":10280,
      "min":1,
      "pattern":".*\\S.*",
      "sensitive":true
    },
    "ReleaseLabel":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9._/-]+"
    },
    "RequestIdentityUserArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:(aws[a-zA-Z0-9-]*):(iam|sts)::(\\d{12})?:[\\w/+=,.@-]+"
    },
    "ResourceArn":{
      "type":"string",
      "max":1024,
      "min":60,
      "pattern":"arn:(aws[a-zA-Z0-9-]*):emr-serverless:.+:(\\d{12}):\\/applications\\/[0-9a-zA-Z]+(\\/jobruns\\/[0-9a-zA-Z]+)?"
    },
    "ResourceId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[0-9a-z]+"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String1024"}
      },
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ResourceType":{
      "type":"string",
      "enum":["SESSION"]
    },
    "ResourceUtilization":{
      "type":"structure",
      "members":{
        "vCPUHour":{"shape":"Double"},
        "memoryGBHour":{"shape":"Double"},
        "storageGBHour":{"shape":"Double"}
      }
    },
    "RetryPolicy":{
      "type":"structure",
      "members":{
        "maxAttempts":{"shape":"AttemptNumber"},
        "maxFailedAttemptsPerHour":{"shape":"RetryPolicyMaxFailedAttemptsPerHourInteger"}
      }
    },
    "RetryPolicyMaxFailedAttemptsPerHourInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "S3MonitoringConfiguration":{
      "type":"structure",
      "members":{
        "logUri":{"shape":"UriString"},
        "encryptionKeyArn":{"shape":"EncryptionKeyArn"}
      }
    },
    "SchedulerConfiguration":{
      "type":"structure",
      "members":{
        "queueTimeoutMinutes":{"shape":"Integer"},
        "maxConcurrentRuns":{"shape":"Integer"}
      }
    },
    "SecurityGroupIds":{
      "type":"list",
      "member":{"shape":"SecurityGroupString"},
      "max":5,
      "min":0
    },
    "SecurityGroupString":{
      "type":"string",
      "max":32,
      "min":1,
      "pattern":"[-0-9a-zA-Z]+.*"
    },
    "SensitivePropertiesMap":{
      "type":"map",
      "key":{"shape":"ConfigurationPropertyKey"},
      "value":{"shape":"ConfigurationPropertyValue"},
      "max":100,
      "min":0,
      "sensitive":true
    },
    "ServiceLinkedRoleLockClientException":{
      "type":"structure",
      "members":{
        "message":{"shape":"errorMessage"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ServiceLinkedRoleLockServiceException":{
      "type":"structure",
      "members":{
        "message":{"shape":"errorMessage"}
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String1024"}
      },
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "Session":{
      "type":"structure",
      "required":[
        "applicationId",
        "sessionId",
        "arn",
        "state",
        "stateDetails",
        "releaseLabel",
        "executionRoleArn",
        "createdBy",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "applicationId":{"shape":"ApplicationId"},
        "sessionId":{"shape":"SessionId"},
        "arn":{"shape":"SessionArn"},
        "name":{"shape":"String256"},
        "state":{"shape":"SessionState"},
        "stateDetails":{"shape":"String1024"},
        "releaseLabel":{"shape":"ReleaseLabel"},
        "executionRoleArn":{"shape":"IAMRoleArn"},
        "createdBy":{"shape":"RequestIdentityUserArn"},
        "createdAt":{"shape":"Date"},
        "updatedAt":{"shape":"Date"},
        "startedAt":{"shape":"Date"},
        "endedAt":{"shape":"Date"},
        "idleSince":{"shape":"Date"},
        "configurationOverrides":{"shape":"SessionConfigurationOverrides"},
        "networkConfiguration":{"shape":"NetworkConfiguration"},
        "idleTimeoutMinutes":{
          "shape":"Duration",
          "box":true
        },
        "tags":{"shape":"TagMap"},
        "totalResourceUtilization":{"shape":"TotalResourceUtilization"},
        "billedResourceUtilization":{"shape":"ResourceUtilization"},
        "totalExecutionDurationSeconds":{"shape":"Long"}
      }
    },
    "SessionArn":{
      "type":"string",
      "max":1024,
      "min":60,
      "pattern":"arn:(aws[a-zA-Z0-9-]*):emr-serverless:.+:(\\d{12}):\\/applications\\/[0-9a-zA-Z]+\\/sessions\\/[0-9a-zA-Z]+"
    },
    "SessionAuthToken":{
      "type":"string",
      "max":8000,
      "min":1,
      "sensitive":true
    },
    "SessionConfigurationOverrides":{
      "type":"structure",
      "members":{
        "runtimeConfiguration":{"shape":"ConfigurationList"}
      }
    },
    "SessionId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[0-9a-z]+"
    },
    "SessionState":{
      "type":"string",
      "enum":[
        "SUBMITTED",
        "STARTING",
        "STARTED",
        "IDLE",
        "BUSY",
        "FAILED",
        "TERMINATING",
        "TERMINATED"
      ]
    },
    "SessionStateSet":{
      "type":"list",
      "member":{"shape":"SessionState"},
      "max":8,
      "min":1
    },
    "SessionSummary":{
      "type":"structure",
      "required":[
        "applicationId",
        "sessionId",
        "arn",
        "state",
        "stateDetails",
        "releaseLabel",
        "executionRoleArn",
        "createdBy",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "applicationId":{"shape":"ApplicationId"},
        "sessionId":{"shape":"SessionId"},
        "arn":{"shape":"SessionArn"},
        "name":{"shape":"String256"},
        "state":{"shape":"SessionState"},
        "stateDetails":{"shape":"String1024"},
        "releaseLabel":{"shape":"ReleaseLabel"},
        "executionRoleArn":{"shape":"IAMRoleArn"},
        "createdBy":{"shape":"RequestIdentityUserArn"},
        "createdAt":{"shape":"Date"},
        "updatedAt":{"shape":"Date"}
      }
    },
    "Sessions":{
      "type":"list",
      "member":{"shape":"SessionSummary"}
    },
    "ShutdownGracePeriodInSeconds":{
      "type":"integer",
      "box":true
    },
    "SparkSubmit":{
      "type":"structure",
      "required":["entryPoint"],
      "members":{
        "entryPoint":{"shape":"EntryPointPath"},
        "entryPointArguments":{"shape":"EntryPointArguments"},
        "sparkSubmitParameters":{"shape":"SparkSubmitParameters"}
      }
    },
    "SparkSubmitParameters":{
      "type":"string",
      "max":102400,
      "min":1,
      "pattern":".*\\S.*",
      "sensitive":true
    },
    "StartApplicationRequest":{
      "type":"structure",
      "required":["applicationId"],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"applicationId"
        },
        "startInteractiveEndpoint":{
          "shape":"Boolean",
          "documentation":"<p>Boolean value to specify whether to start the Interactive endpoint or not</p>",
          "internalonly":true
        }
      }
    },
    "StartApplicationResponse":{
      "type":"structure",
      "members":{}
    },
    "StartJobRunRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "clientToken",
        "executionRoleArn"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"applicationId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "executionRoleArn":{"shape":"IAMRoleArn"},
        "executionIamPolicy":{"shape":"JobRunExecutionIamPolicy"},
        "jobDriver":{"shape":"JobDriver"},
        "configurationOverrides":{"shape":"ConfigurationOverrides"},
        "tags":{"shape":"TagMap"},
        "executionTimeoutMinutes":{
          "shape":"Duration",
          "box":true
        },
        "name":{"shape":"String256"},
        "mode":{"shape":"JobRunMode"},
        "retryPolicy":{"shape":"RetryPolicy"}
      }
    },
    "StartJobRunResponse":{
      "type":"structure",
      "required":[
        "applicationId",
        "jobRunId",
        "arn"
      ],
      "members":{
        "applicationId":{"shape":"ApplicationId"},
        "jobRunId":{"shape":"JobRunId"},
        "arn":{"shape":"JobArn"}
      }
    },
    "StartSessionRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "clientToken",
        "executionRoleArn"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"applicationId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "executionRoleArn":{"shape":"IAMRoleArn"},
        "configurationOverrides":{"shape":"SessionConfigurationOverrides"},
        "tags":{"shape":"TagMap"},
        "idleTimeoutMinutes":{
          "shape":"Duration",
          "box":true
        },
        "name":{"shape":"String256"}
      }
    },
    "StartSessionResponse":{
      "type":"structure",
      "required":[
        "applicationId",
        "sessionId",
        "arn"
      ],
      "members":{
        "applicationId":{"shape":"ApplicationId"},
        "sessionId":{"shape":"SessionId"},
        "arn":{"shape":"SessionArn"}
      }
    },
    "StopApplicationRequest":{
      "type":"structure",
      "required":["applicationId"],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"applicationId"
        }
      }
    },
    "StopApplicationResponse":{
      "type":"structure",
      "members":{}
    },
    "String1024":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":".*\\S.*"
    },
    "String256":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":".*\\S.*"
    },
    "SubnetIds":{
      "type":"list",
      "member":{"shape":"SubnetString"},
      "max":16,
      "min":0
    },
    "SubnetString":{
      "type":"string",
      "max":32,
      "min":1,
      "pattern":"[-0-9a-zA-Z]+.*"
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[A-Za-z0-9 /_.:=+@-]+"
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":200,
      "min":1
    },
    "TagMap":{
      "type":"map",
      "key":{"shape":"TagKey"},
      "value":{"shape":"TagValue"},
      "max":200,
      "min":0
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tags"
      ],
      "members":{
        "resourceArn":{
          "shape":"ResourceArn",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tags":{"shape":"TagMap"}
      }
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{}
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"[A-Za-z0-9 /_.:=+@-]*"
    },
    "TerminateSessionRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "sessionId"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"applicationId"
        },
        "sessionId":{
          "shape":"SessionId",
          "location":"uri",
          "locationName":"sessionId"
        }
      }
    },
    "TerminateSessionResponse":{
      "type":"structure",
      "required":[
        "applicationId",
        "sessionId"
      ],
      "members":{
        "applicationId":{"shape":"ApplicationId"},
        "sessionId":{"shape":"SessionId"}
      }
    },
    "ThrottlingException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String1024"}
      },
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true,
      "internalonly":true,
      "retryable":{"throttling":true}
    },
    "TotalResourceUtilization":{
      "type":"structure",
      "members":{
        "vCPUHour":{"shape":"Double"},
        "memoryGBHour":{"shape":"Double"},
        "storageGBHour":{"shape":"Double"}
      }
    },
    "UnauthorizedOperation":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String1024"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "internalonly":true
    },
    "UnlockServiceLinkedRoleRequest":{
      "type":"structure",
      "required":["RoleArn"],
      "members":{
        "RoleArn":{"shape":"arnType"},
        "DeletionStatus":{"shape":"deletionStatus"}
      }
    },
    "UnlockServiceLinkedRoleResponse":{
      "type":"structure",
      "members":{}
    },
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tagKeys"
      ],
      "members":{
        "resourceArn":{
          "shape":"ResourceArn",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tagKeys":{
          "shape":"TagKeyList",
          "location":"querystring",
          "locationName":"tagKeys"
        }
      }
    },
    "UntagResourceResponse":{
      "type":"structure",
      "members":{}
    },
    "UpdateApplicationRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "clientToken"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "location":"uri",
          "locationName":"applicationId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "initialCapacity":{"shape":"InitialCapacityConfigMap"},
        "maximumCapacity":{"shape":"MaximumAllowedResources"},
        "autoStartConfiguration":{"shape":"AutoStartConfig"},
        "autoStopConfiguration":{"shape":"AutoStopConfig"},
        "autoStartConfig":{
          "shape":"AutoStartConfig",
          "internalonly":true
        },
        "autoStopConfig":{
          "shape":"AutoStopConfig",
          "internalonly":true
        },
        "networkConfiguration":{"shape":"NetworkConfiguration"},
        "architecture":{"shape":"Architecture"},
        "imageConfiguration":{"shape":"ImageConfigurationInput"},
        "workerTypeSpecifications":{"shape":"WorkerTypeSpecificationInputMap"},
        "interactiveEndpointEnabled":{
          "shape":"Boolean",
          "internalonly":true
        },
        "interactiveConfiguration":{"shape":"InteractiveConfiguration"},
        "releaseLabel":{"shape":"ReleaseLabel"},
        "runtimeConfiguration":{"shape":"ConfigurationList"},
        "monitoringConfiguration":{"shape":"MonitoringConfiguration"},
        "diskEncryptionConfiguration":{"shape":"DiskEncryptionConfiguration"},
        "schedulerConfiguration":{"shape":"SchedulerConfiguration"},
        "identityCenterConfiguration":{"shape":"IdentityCenterConfigurationInput"},
        "jobLevelCostAllocationConfiguration":{"shape":"JobLevelCostAllocationConfiguration"}
      }
    },
    "UpdateApplicationResponse":{
      "type":"structure",
      "required":["application"],
      "members":{
        "application":{"shape":"Application"}
      }
    },
    "UriString":{
      "type":"string",
      "max":10280,
      "min":1,
      "pattern":".*[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDBFF-\\uDC00\\uDFFF\\r\\n\\t]*.*"
    },
    "Url":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "UrlAvailabilityStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "AVAILABLE"
      ],
      "internalonly":true
    },
    "ValidationException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String1024"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "WorkerCounts":{
      "type":"long",
      "max":1000000,
      "min":1
    },
    "WorkerResourceConfig":{
      "type":"structure",
      "required":[
        "cpu",
        "memory"
      ],
      "members":{
        "cpu":{"shape":"CpuSize"},
        "memory":{"shape":"MemorySize"},
        "disk":{"shape":"DiskSize"},
        "diskType":{"shape":"DiskType"},
        "diskThroughput":{
          "shape":"DiskThroughput",
          "internalonly":true
        },
        "diskIops":{
          "shape":"DiskIops",
          "internalonly":true
        }
      }
    },
    "WorkerTypeSpecification":{
      "type":"structure",
      "members":{
        "imageConfiguration":{"shape":"ImageConfiguration"}
      }
    },
    "WorkerTypeSpecificationInput":{
      "type":"structure",
      "members":{
        "imageConfiguration":{"shape":"ImageConfigurationInput"}
      }
    },
    "WorkerTypeSpecificationInputMap":{
      "type":"map",
      "key":{"shape":"WorkerTypeString"},
      "value":{"shape":"WorkerTypeSpecificationInput"}
    },
    "WorkerTypeSpecificationMap":{
      "type":"map",
      "key":{"shape":"WorkerTypeString"},
      "value":{"shape":"WorkerTypeSpecification"}
    },
    "WorkerTypeString":{
      "type":"string",
      "documentation":"<p>Worker type for an analytics framework.</p>",
      "max":50,
      "min":1,
      "pattern":"[a-zA-Z]+[-_]*[a-zA-Z]+"
    },
    "arnType":{
      "type":"string",
      "max":2048,
      "min":20
    },
    "booleanType":{"type":"boolean"},
    "deletionStatus":{
      "type":"string",
      "enum":[
        "SUCCEEDED",
        "FAILED"
      ]
    },
    "errorMessage":{"type":"string"},
    "longType":{
      "type":"long",
      "box":true
    },
    "stringListType":{
      "type":"list",
      "member":{"shape":"stringType"}
    },
    "stringType":{"type":"string"}
  }
}
